<div class="home-container">

  <!-- HERO - za neprijavljene korisnike -->
  <div class="hero" *ngIf="!isAuthenticated()">
    <h1>Welcome to CineMart</h1>
    <p>Access newest movies, merchandise and exclusive content!</p>
    <button routerLink="/registration">Sign up</button>
  </div>

  <!-- WELCOME BACK BANNER - za prijavljene korisnike -->
  <div class="welcome-back-hero" *ngIf="isAuthenticated()">
    <div class="welcome-content">
      <h1>Welcome Back! 🎬</h1>
      <p>Continue exploring our latest collection</p>
    </div>
    <div class="quick-actions">
      <button routerLink="/client/add-movie" class="action-btn">
        <span class="icon">➕</span>
        Add Movie
      </button>
        <button routerLink="/client/add-product" class="action-btn">
    <span class="icon">🛒</span>
    Add Product
  </button>
      <button routerLink="/movies" class="action-btn">
        <span class="icon">🎥</span>
        Browse All
      </button>
      <button routerLink="client/profile" class="action-btn">
        <span class="icon">👤</span>
        My Profile
      </button>
    </div>
  </div>

  <!-- RECOMMENDED -->
  <app-recommended-section></app-recommended-section>

  <!-- FEATURED + TOP RATED -->
  <div class="featured-wrapper">
    <featured-slider></featured-slider>
    <top-rated></top-rated>
  </div>
    <router-outlet></router-outlet>
</div>

