html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  font-family: Arial, sans-serif;

  background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
  background-attachment: fixed;
  transition: background 0.3s ease;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}
