.my-movies-container {
  padding: 40px;
  background-color: #0e0e0e;
  min-height: 100vh;
  color: white;

  h1 {
    color: #ff3b3b;
    margin-bottom: 30px;
  }

  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .movie-card {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    img {
        width: 100%;
        aspect-ratio: 2 / 3;
        object-fit: cover;
        border-radius: 10px;
    }

    .actions {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      .delete {
        background: #ff3b3b;
        border: none;
        padding: 5px 10px;
        border-radius: 6px;
        cursor: pointer;
         width: 70%;
      }
    }
  }

  .empty {
    margin-top: 20px;
    opacity: 0.7;
  }
}
