<nav class="navbar" [class.mobile-active]="mobileMenuActive">
  <div class="navbar-container">
  <div class="logo" routerLink="/">CineMart</div>

  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/movies">Movies</a></li>
    <li><a routerLink="/kontakt">Contact</a></li>
    

  </ul>

  <div class="cta">
    <!-- NOT AUTHENTICATED -->
    <button *ngIf="!isAuthenticated()" routerLink="/auth/login">
      Login
    </button>

    <!-- AUTHENTICATED USER -->
    <button *ngIf="isAuthenticated() && isUser()" routerLink="/my-movies">
      My movies
    </button>

    <!-- ADMIN ONLY -->
    <button *ngIf="isAuthenticated()" routerLink="/add-movie">
      Add a movie
    </button>

    <button *ngIf="isAuthenticated()" (click)="openLogoutModal()">
  Logout
</button>

  </div>

  <div class="hamburger" (click)="toggleMobileMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>

</nav>
<!-- LOGOUT MODAL -->
<div
  class="modal-backdrop"
  *ngIf="showLogoutModal"
  (click)="onBackdropClick($event)"
>
  <div class="modal">
    <h3>Logout</h3>
    <p>Da li ste sigurni da se želite odjaviti?</p>

    <div class="modal-actions">
      <button class="cancel" (click)="closeLogoutModal()">Cancel</button>
      <button class="confirm" (click)="confirmLogout()">Logout</button>
    </div>
  </div>
</div>

<!-- TOAST -->
<div class="toast" *ngIf="showToast">
  {{ toastMessage }}
</div>
